<section>
    <div class="dias_e_temas">
        <ul class="intro">
            <li class="inactive"> 03/08/2026 - <a href="primeiroDia" id="primeiroDia" class="active">Estruturas Iniciais, Memória e Revisão de C++</a></li>
            <li class="inactive"> 04/08/2026 - <a href="segundoDia"  id="segundoDia"  class="active">Busca, Ordenação e Complexidade</a></li>
            <li class="inactive"> 05/08/2026 - <a href="terceiroDia" id="terceiroDia" class="active">TADs e Estrutura de Dados Lineares</a></li>
            <li class="inactive"> 06/08/2026 - <a href="quartoDia"   id="quartoDia"   class="active">Estruturas de Dados Não Lineares</a></li>
            <li class="inactive"> 07/08/2026 - <a href="quintoDia"   id="quintoDia"   class="active">Finalização do Projeto</a></li>
        </ul>
        <script src="assets/js/script_dia.js"></script>
    </div>
</section>
