<section>
    <div class="dias_e_temas">
        <ul class="intro">
            <li class="inactive"> 23/02/2026 - <a href="primeiroDia" id="primeiroDia" class="active">Estruturas Iniciais, Memória e Revisão de C++</a></li>
            <li class="inactive"> 24/02/2026 - <a href="segundoDia"  id="segundoDia"  class="active">Busca, Ordenação e Complexidade</a></li>
            <li class="inactive"> 25/02/2026 - <a href="terceiroDia" id="terceiroDia" class="active">TADs e Estrutura de Dados</a></li>
            <li class="inactive"> 26/02/2026 - <a href="quartoDia"   id="quartoDia"   class="active">Estruturas de Dados Não Lineares</a></li>
            <li class="inactive"> 27/02/2026 - <a href="quintoDia"   id="quintoDia"   class="active">Finalização do Projeto Final</a></li>
        </ul>
        <script src="assets/js/script_dia.js"></script>
    </div>
</section>
